/* layout */
.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background: #f0f0f0;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.content {
  flex: 1;
  padding: 20px;
}

/* Ana Sayfa bold */
.home-link a {
  font-weight: bold;
}

/* categories */
.category {
  margin-top: 15px;
}

.category-title {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
}

.category-posts {
  padding-left: 15px;
  display: none;
}

.category.open .category-posts {
  display: block;
}

.category-posts li {
  margin-bottom: 6px;
}

.active-post {
  color: red;
  font-weight: bold;
}
